* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth !important;
   ;
}
body{
    overflow-x: hidden;
    position: relative;
}

:root {
    --official-color: #81007F;
}
.custom-hover{
    color: white;
}
.custom-hover:hover{
   color: #ffa500;
}
.custom-move-image{
    position: relative;
    left: 2.4rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000 !important;
}

.sticky+.content {
    padding-top: 102px;
}


.active-link{
    /* border-bottom: 2px solid #fff !important; */
    font-weight: bold;
    
}

.custom-header-color {
    background-color: var(--official-color);
}

.navbar-toggler:active {
    box-shadow: none !important;
    border: none !important;
}

.jumbotron-header{
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: rgba(0,0,0,.1);
}
.banner {
    min-height:100vh;
    width: 100%;
    background-color: #3d093c;
    background-image: url('./assets/bg\ img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover; 
}

.swiper_business_section{
    padding:0 2.5rem;
}
.custom-btn {
    border-radius: 25px;
    background-color: #800080;
    font-size: 14px;
}
.submit-button{
    border-radius: 7px;
    background-color: #800080;
    font-size: 14px;
}
.header-text {
    letter-spacing: 2.3px;
    max-width: 90%;
}
.bg_gray {
   background-color: #F4F4F4;
}
.h-custom {
    height: 51px;
}
.seo-image {
    width: 45px !important;
    height: 45px !important;
}
.custom-card-border {
    border: 1px solid #000;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}
.bg-1 {
    background-color: #81007F;
}
.bg-2 {
    background-color: #4F5E50;
}
.bg-3 {
    background-color: #15173E;
}
.bg-4 {
    background-color: #104860;
}
.icon-img {
    width: 40px;
    height: 40px;
}
.resize-img {
    width: 60px;
    height: 60px;
}
.custom-padding {
    padding-top: 12px;
}
.custom-card-bg-color {
    background-color: #151585;
}
.heading-color {
    color: #943b96;
}
.p-2-4{
    padding: 13px 0;
}
.footer-svg-one {
    width: 15vw;
   position: relative;
   left: 16%;
}
.footer-svg-one img {
    position: absolute;
    bottom: 0rem;
}
.footer-svg-two{
    width: 10vw;
    position: relative;

}
.footer-svg-two img {
    height: 120px !important;
    position: relative;
    left: 2.4rem;
    
}
.custom-position-style {
    position: relative;
    width: 75vw;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #81007F;

}
.cell-number{
    letter-spacing: 2px;
}

.border-highlighter{
    border: 2px solid #81007F;
    background-color: #81007F;
    width: 5rem;  
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 0.8rem; 
}
.w-60 {
    width: 60%;
}

.fail {
    border: 2px solid red;
}


/*------Testimonials---------*/
.checked {
    color: orange;
  }

  .tower-image img {
      width: 100vw;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
  .card1 {
    padding: 16px;
    border-radius: 20px !important;
    text-align: center;
    height: 400px;
  }
  .h1{
    font-size: 20px;
    padding-left: 6rem;
  }
  
.desc-fw{
    font-weight: 500;
  }

  .explore-btn{
      border-radius: 20px !important;
  }
  
  .swipper-des-text{
      font-size: 18px;
  }
  .slider-radius-btn{
      border-radius: 100px !important;
  }
  .card-radius{
      border-radius: 25px;
      margin-bottom: 0px auto !important;
     
  }
  .swiper-slide {
    height: auto; 
     display: flex;
    justify-content: center;
    align-items: center;
   }
 .swiper {
    width: 100%;
    height: 100%;
 }
  
  .swiper-button-prev {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: none;
  }
  
  .swiper-button-prev::after {
    display: none;
  }
 
  .swiper-button-next {
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: none;
  } 
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
  .swiper-pagination-bullet-active {
    background-color: #7D50C7 !important;
    
}
  .swiper-pagination{
    color: #5828A7 !important;
    
}

.official_text_light{
  color: #918E8E;
}
.font-small{
font-size: 17px !important; 
}

.border-color{
border: 1px solid #707070;
}
.image1{
border-radius: 50%;
border: 2px solid #ddd; 	
object-fit: cover; 
max-width: 60px;
width: 60px;
height: 60px;
overflow: hidden;
}

.error-message {
    position: relative;
    bottom: 1.7rem;
}

.btn-fontsize{
  border-radius: 100px;
}

.pagination-btn{
  top:100%
}
.testimonial-text{
color: #C3C3C3;
font-size: 18px;
}
.testimonial-namefs{
font-size: 19px;
}
.testimonial-desfs{
font-size: 18px;
color: #8A8A8A;
}
.footer-des-text{
color: #EDEDED;
}
@media (min-width: 640px){

.topcourses-height{
height: 600px !important;
}
}
@media only screen and (min-width: 250px) and (max-width: 444px){
.testimonials-card{
height: 650px !important;

}
}

@media (min-width: 1200px){

.testimonials-card{
height: 430px !important;

}
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
.testimonials-card{
height: 300px !important;

}
}
@media only screen and (min-width: 620px) and (max-width: 992px){
.testimonials-card{
height: 860px !important;

}
}


@media (max-width: 991px){
.adress-box{
padding-left: 15px;


}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
.btn-fontsize{
font-size: 18px;

}
}
@media (max-width: 350px){

.main-heading-fs{
font-size: 48px !important;

}
}

/* About-us*/
.border-highlighter{
border: 2px solid #81007F;
background-color: #81007F;
width: 5rem;  
position: relative;
left: 50%;
transform: translateX(-50%); 
margin-top: 0.8rem; 
}
.para{
font-size:1.2rem;
color:gray;
opacity:0.8 ;
font-weight: 500;
}
/* contact-us*/

.formBox{
position: relative;
width: 100%;
}

.inputBox {
    width: 100%;
}
.inputBox input{
padding: 3px;
margin-bottom: 2rem;
font-size: 1em;
outline: none;
border-radius: 10px !important;
}
.custom-textarea textarea{
padding: 10px;
width: 100%;
font-size: 1em;
outline: none;
resize: none;
min-height: 220px;
margin-bottom: 10px;
border-radius: 20px !important;
}
input[type=submit] {
background-color: #81007F;
color: white;
padding: 5px 20px;
border: none;
margin-left: 460px;
border-radius: 4px;
cursor: pointer;
border-radius: 20px !important;
}

input[type=submit]:hover {
background-color: #ffa500;
}

/*-------our process------*/

.column {
float: left;
width: 25%;
padding: 0 10px;
}
.pb-2{
padding-left: 2rem;
}
.h1{
font-size: 20px;
  color: #918E8E;
  font-weight: bold;
}


.row {margin: 0 -5px;}


.row:after {
content: "";
display: table;
clear: both;
}


@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}


.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
background-color: #f1f1f1;
}
.w-image-75{
    width: 6.3rem;
}

/* testimonial ends */

@media only screen and (max-width: 900px) {

.banner {
    min-height:40vh;
    width: 100%;
    background-color: #3d093c;
    background-image: url('./assets/bg\ img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover; 
    overflow-x: hidden !important;

}
.custom-btn {
    border-radius: 8px;
    background-color: #800080;
    font-size: 14px;
}
.header-text {
    letter-spacing: 0.4px;
    max-width: 63%;
}
.jumbotron-header{
    letter-spacing: 1px;
    font-size: 1.5rem;
}
.tech-cards{
    margin-right: 2.1rem;
}
.header-container {
    width: 100% ;
}
.custom-move-image{
    position: relative;
    left: 0rem;
}

.custom-small-screen{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.icon-img {
    width: 50px;
    height: 50px;
}
.card-container {
   
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.custom-position-style {
    background-color: #81007F;
    width: 100vw;
    margin-bottom: 2rem;
   
}
.tower-image img {
    height: 15rem;
    position: relative;
    top: 2.5rem;
}
.footer-svg-one {
    width: 20vw;
   position: relative;
   left: 16%;
}
.footer-svg-one img {
    position: absolute;
    bottom: 0rem;
}
.footer-svg-two{
    width: 12vw;
    position: relative;

}

.footer-svg-two img {
    left: 13px;
    
}

}


 @media only screen and (min-device-width: 901px)
 and (max-device-width: 991px) { 
    .header-container {
        width: 100% ;
    }

}

@media only screen and (min-device-width: 1400px) 
and (max-device-width:1736px){
    .footer-svg-two img {
        left: 65px;
        
    }
   
}

@media only screen and (min-device-width: 1750px) 
and (max-device-width:2000px){
    .footer-svg-two img {
       left: 6.2rem;  
    }
    .outer-section {
        margin: 0 5rem;
    }
    #services {
        width: 90%;
        margin: auto;
    }
    .swiper_business_section{
        width: 70vw;
        margin: auto;
     }
}
    @media only screen and (min-device-width: 2001px) 
    and (max-device-width:2265px){
        .footer-svg-two img {
           left: 8rem;       
      }
      #services {
        width: 70%;
        margin: auto;
    }
    #home .bg_gray {
        width: 65%;
        margin: auto;
    }
    .swiper_business_section{
       width: 70vw;
       margin: auto;
    }
    }

    @media only screen and (min-device-width: 2266px) 
    and (max-device-width:2500px){
        .footer-svg-two img {
           left: 10rem;       
      }
      #services {
        width: 70%;
        margin: auto;
    }
    #home .bg_gray {
        width: 65%;
        margin: auto;
    }
    .swiper_business_section{
        width: 70vw;
        margin: auto;
     }
    }
